<h1 align="center">Cập nhật thông tin sản phẩm</h1>
<form [formGroup]="productForm" (ngSubmit)="updateProduct(id)">
  <table>
    <tr>
      <td>Tên sản phẩm:</td>
      <td><input class="form-control" type="text" formControlName="name"></td>
    </tr>
    <tr>
      <td>Giá sản phẩm</td>
      <td><input class="form-control" type="number" formControlName="price"></td>
    </tr>
    <tr>
      <td>Mô tả về sản phẩm</td>
      <td><input class="form-control" type="text" formControlName="description"></td>
    </tr>
    <tr>
      <td>Danh mục sản phẩm</td>
      <td><select class="form-control" formControlName="category">
        <option disabled>Chọn danh mục sản phẩm</option>
        <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
      </select></td>
    </tr>
    <tr>
      <td></td>
      <td>
        <button class="btn btn-outline-primary">Cập nhật</button>
      </td>
    </tr>
  </table>
</form>
