<div class="container">
  <div class="row">
    <hr>
    <a href="https://www.ycombinator.com/apply/">
      <p align="center">Applications are open for YC Winter 2023</p>
    </a>
    <br>
  </div>
  <div class="row" align="center">
     <span class="yclinks">
      <a href="newsguidelines.html">Guidelines</a>
        | <a href="newsfaq.html">FAQ</a>
        | <a href="lists">Lists</a>
        | <a href="https://github.com/HackerNews/API">API</a>
        | <a href="security.html">Security</a>
        | <a href="http://www.ycombinator.com/legal/">Legal</a>
        | <a href="http://www.ycombinator.com/apply/">Apply to YC</a>
        | <a href="mailto:hn@ycombinator.com">Contact</a>
    </span>
  </div>
  <div class="row" align="center">
    <br><br>
    <div class="col-lg-3">
      Search:
    </div>
    <div class="col-lg-6">
      <form action="//hn.algolia.com/">
        <input type="text" class="form-control" name="q" value="" size="17" autocorrect="off" spellcheck="false"
               autocapitalize="off"
               autocomplete="false">
      </form>
    </div>
    <div class="col-lg-3"></div>
  </div>
</div>
